<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googletest" version="1.8.2" targetFramework="native" />
  <package id="googletest.redist" version="1.8.2" targetFramework="native" />
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="native" />
</packages>